.root {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  .title {
    color: var(--color-gray-5);
    font-family: "Golos-SemiBold", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 147%; /* 1.47rem */
  }

  .children {
    color: var(--color-gray-2, #1D1929);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: "Golos-Medium", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 116%; /* 1.16rem */
  }
}

.vertical {
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.bold {
  gap: 1.5rem !important;

  .title {
    color: var(--color-gray-2) !important;
    font-feature-settings: 'salt' on, 'liga' off !important;
    font-family: "Golos-Bold", sans-serif !important;
    font-size: 1rem !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 150% !important; /* 1.5rem */
  }
}