.root {
  display: flex;
  align-items: center;
  flex: 1;

  .inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 1rem;

    .wrapper {
      margin: 0 auto;
      width: 12.5rem;
    }

    .labels {
      width: 100%;
      display: flex;
      gap: 1rem;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      .label {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        .circle {
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 50%;
          background: #FFE576;
        }

        .title {
          color: var(--color-gray-3, #34303E);
          font-family: 'Inter-Medium', sans-serif;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 130%; /* 0.975rem */
          letter-spacing: 0.0225rem;
        }
      }
    }
  }
}