:root {
  // LOADER
  --loader-size: 5rem;

  --color-gray-1: #0F0D15; /* Gray-1 */
  --color-gray-2: #1D1929; /* Gray-2 */
  --color-gray-3: #34303E; /* Gray-3 */
  --color-gray-4: #615E69; /* Gray-5 */
  --color-gray-5: #8E8C94; /* Gray-7 */
  --color-gray-6: #A5A3A9; /* Gray-8 */
  --color-gray-7: #A1A1A1; /* Gray-6 */

  --color-gray-light-1: #E8E8EA; /* Gray-11 */
  --color-gray-light-2: #F9F9F9; /* Gray-12 */
  --color-gray-light-3: #F0F0F0; /* Gray-Light */

  --color-white: #FFF; /* Base-White */

  --color-blue-1: #003CFF; /* Blue-3 */
  --color-blue-2: #3363FF; /* Blue-5 */
  --color-blue-light-1: #CCD8FF; /* Blue-11 */
  --color-blue-light-2: #E6ECFF; /* Blue-12 */

  --color-green-1: #18BA92; /* Green-1 */
  --color-green-2: #1BD2A4; /* Green-2 */
  --color-green-light-1: #D2FBF0; /* Green-11 */

  --color-red-1: #F42829; /* Red-3 */
  --color-red-light-1: #FDD4D4; /* Red-11 */

  --color-orange-1: #FF6E01; /* Orange-3 */
  --color-orange-light-1: #FFE2CC; /* Orange-11 */

  --color-yellow-1: #CCB243; /* Yellow-1 */
  --color-yellow-light-1: #FFF8DD; /* Yellow-11 */

  --color-gradient-primary: linear-gradient(180deg, #1FA3F1 0%, #194ED4 100%); /* Gradient Primary */
}