.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  h1 {
    color: var(--color-gray-2, #1D1929);
    font-family: "Golos-SemiBold", sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 117%; /* 2.48625rem */
  }
}

