.root {
  display: flex;
  padding: 0.75rem;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  background: var(--color-white, #FFF);

  .icon {
    display: flex;
    padding: 1rem;
    align-items: center;
    border-radius: 50%;
    background: var(--color-blue-light-2, #E6ECFF);
    justify-content: center;
  }

  .wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: flex-start;
    justify-content: center;

    .count {
      color: var(--color-blue-2, #3363FF);
      text-align: start;
      font-family: "Golos-Medium", sans-serif;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: 117%; /* 2.0475rem */

    }

    .title {
      color: #000;
      text-align: start;
      font-family: "Golos-Medium", sans-serif;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 1.1375rem */
      letter-spacing: 0.02625rem;
    }
  }
}